<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello, World!</title>
    <style>
      body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a routerLink="/fashion-list">商品页</a></li>
          <li><a routerLink="/recent-six-years">最近六年页面</a></li>
          <!-- 添加新链接 -->
        </ul>
      </nav>
      <!-- <h1>Hello, World!</h1>
    <button class="start-button" (click)="navigateToHome()">Start</button> -->
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
